header{
    height: 60px;
    width: 100%;
    background-color: #1E8FFE;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

body{
    height: calc(100% - 140px );
    /* background-color: yellow; */

}

footer{
    height: 60px;
    width: 100%;
    background-color: #061E34;
    position: absolute;
    bottom: 0px;
}

footer > button {
    position: relative;
    left: 50%;
}

.videos{
    /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around; */
}
video {
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    padding: 300px;
    margin: 20px;
    border: solid black 3px; 

}
#vidLauncher {
    display: none;
    position: fixed;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    background: rgb(34, 44, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid white; */
    border-radius: 5px;
    background-image: url('http://www.roadkilltshirts.com/Assets/ProductImages/PS_0167W_THINKING_PATIENT.jpg');
    background-size: cover;
    display: none;
}

#vidLauncher video {
    border: 2px solid rgb(145, 145, 145);
    width: 80%;
    /* height: 80%; */
    margin-left: 10%;
    margin-top: 8%;
}

/* #randomVidVideo {
    border: 1px solid fuchsia;
} */





/* ↓↓↓ //##// CSS RESET  //##// ↓↓↓ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* ↑↑↑ //##// CSS RESET  //##// ↑↑↑ */